<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
<connectionStrings>
    <add name="farooquiportal" connectionString="Data Source=DESKTOP-9OAJJKT\SQLExpress;database=Portal;Integrated Security=true"
        providerName="System.Data.SqlClient" />
    <add name="PortalConnectionString" connectionString="Data Source=DESKTOP-9OAJJKT\SQLExpress;Initial Catalog=Portal;Integrated Security=True"
        providerName="System.Data.SqlClient" />
</connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.5.1" />
      <httpRuntime targetFramework="4.5.1" />
    </system.web>
<appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network">
        <network host="smtp.live.com" enableSsl="true" userName="farooqui_asp.net@hotmail.com" password="Ubaid1987" port="587"/>
      </smtp>
    </mailSettings>
  </system.net>
 
</configuration>
